.add-menu-background {
    position: fixed;
    background-color: rgba(19, 19, 19, 0.5);
    width: 100vw;
    height: 100vh;
    z-index: 2;
}

.create-playlist-window-background {
    position: fixed;
    background-color: rgba(19, 19, 19, 0.5);
    width: 100vw;
    height: 100vh;
    z-index: 8;
}

.add-menu {
    position: fixed;
    background-color: rgba(37, 45, 54, 1.0);
    border-radius: 2px;
    width: 250px;
    height: 380px;
    top: calc(50vh - 200px);
    left: calc(50vw - 125px);
    z-index: 5;
}

.add-menu-playlist-title {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    text-align: left;
    font-weight: normal;
    font-family: "SC Dream 6";
    font-size: 18px;
    color: rgba(250, 250, 250, 1.0);
}

.add-menu-close {
    border: 0;
    background-color: transparent;
    
    margin-top: 8px;
    margin-right: 4px;
    width: 32px;
    height: 32px;

    cursor: pointer;
}

.add-menu-playlist-button {
    border: 1px;
    border-style: none none solid none;
    border-color: rgba(250, 250, 250, 0.5);
    padding-top: 5px;
    padding-bottom: 5px;
    
    background-color: transparent;
    display: flex;
    justify-content: left;
    width: 100%;
    cursor: pointer;
}

.add-menu-playlist-name {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    width: 160px;
    margin-top: 4px;
    margin-left: 10px;
    text-align: left;
    font-weight: normal;
    font-family: "SC Dream 4";
    font-size: 15px;
    color: #ececec;
}

.add-menu-playlist-tracks {
    display: block;
    margin-top: 6px;
    margin-left: 10px;
    text-align: left;
    font-weight: normal;
    font-family: "SC Dream 4";
    font-size: 8px;
    color: #b9b9b9;
}

.add-menu-playlist-img {
    border: 0;
    border-radius: 5px;
    width: 52px;
    height: 52px;
}

.add-menu-create-playlist-button {
    border: 0;
    border-radius: 30px;
    background-color: #ececec;

    margin-left: 15px;
    margin-top: 15px;

    width: 220px;
    height: 30px;

    text-align: center;
    font-family: "SC Dream 4";
    font-size: 8px;
    color: rgba(19, 19, 19, 1.0);

    cursor: pointer;
}

.create-playlist-window {
    position: fixed;
    background-color: rgba(37, 45, 54, 1.0);
    width: 400px;
    height: 250px;
    top: calc(50vh - 125px);
    left: calc(50vw - 200px);
    z-index: 10;
}


.create-playlist-title {
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 10px;

    text-align: left;
    font-weight: normal;
    font-family: "SC Dream 6";
    font-size: 24px;
    color: rgba(250, 250, 250, 1.0);
}

.create-playlist-text {
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 10px;

    text-align: left;
    font-weight: normal;
    font-family: "SC Dream 4";
    font-size: 18px;
    color: rgba(250, 250, 250, 1.0);
}

.create-playlist-name {
    background-color: transparent;
    border: 2px;
    border-color: #ececec;
    border-style: none none solid none;

    margin-left: 30px;
    padding-bottom: 2px;
    
    width: 340px;
    

    text-align: left;
    font-family: "SC Dream 4";
    font-size: 16px;
    color: rgba(250, 250, 250, 1.0);
}

.create-playlist-name:focus {
    outline: 0;
    outline-style: none none solid none;
    outline-color: #ececec;
}

.create-playlist-subtext {
    background-color: transparent;
    margin-left: 30px;
    margin-top: 2px;
    width: 340px;

    text-align: right;
    font-family: "SC Dream 4";
    font-size: 8px;
    color: rgba(250, 250, 250, 1.0);
}

.create-playlist-button {
    border: 0;
    border-radius: 30px;
    background-color: #ececec;

    width: 80px;
    height: 30px;

    text-align: center;
    font-family: "SC Dream 4";
    font-size: 8px;
    color: rgba(19, 19, 19, 1.0);

    cursor: pointer;
}

